<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>name_iPhone</key>
            <string>iPhone_5_1.jpg</string>
            <key>finalFrame</key>
            <array>
                <string>0</string>
                <string>0</string>
                <string>387</string>
                <string>568</string>
            </array>
            <key>iFrame</key>
            <array>
                <string>-40</string>
                <string>0</string>
                <string>387</string>
                <string>568</string>
            </array>
        </dict>
        <dict>
            <key>name_iPhone</key>
            <string>iPhone_5_2.jpg</string>
            <key>iFrame</key>
            <array>
                <string>0</string>
                <string>0</string>
                <string>457</string>
                <string>622</string>
            </array>
            <key>finalFrame</key>
            <array>
                <string>-40</string>
                <string>-50</string>
                <string>457</string>
                <string>622</string>
            </array>
        </dict>
        <dict>
            <key>name_iPhone</key>
            <string>iPhone_5_3.jpg</string>
            <key>iFrame</key>
            <array>
                <string>-40</string>
                <string>0</string>
                <string>468</string>
                <string>568</string>
            </array>
            <key>finalFrame</key>
            <array>
                <string>0</string>
                <string>0</string>
                <string>468</string>
                <string>568</string>
            </array>
        </dict>
        <dict>
            <key>name_iPhone</key>
            <string>iPhone_5_4.jpg</string>
            <key>iFrame</key>
            <array>
                <string>-60</string>
                <string>-20</string>
                <string>380</string>
                <string>587</string>
            </array>
            <key>finalFrame</key>
            <array>
                <string>0</string>
                <string>-20</string>
                <string>380</string>
                <string>587</string>
            </array>
        </dict>
        <dict>
            <key>name_iPhone</key>
            <string>iPhone_5_5.jpg</string>
            <key>iFrame</key>
            <array>
                <string>-40</string>
                <string>0</string>
                <string>422</string>
                <string>588</string>
            </array>
            <key>finalFrame</key>
            <array>
                <string>0</string>
                <string>-20</string>
                <string>422</string>
                <string>588</string>
            </array>
        </dict>
        <dict>
            <key>name_iPhone</key>
            <string>iPhone_5_6.jpg</string>
            <key>iFrame</key>
            <array>
                <string>-40</string>
                <string>-20</string>
                <string>380</string>
                <string>588</string>
            </array>
            <key>finalFrame</key>
            <array>
                <string>0</string>
                <string>0</string>
                <string>380</string>
                <string>588</string>
            </array>
        </dict>
        <dict>
            <key>name_iPhone</key>
            <string>iPhone_5_7.jpg</string>
            <key>iFrame</key>
            <array>
                <string>0</string>
                <string>0</string>
                <string>360</string>
                <string>568</string>
            </array>
            <key>finalFrame</key>
            <array>
                <string>-40</string>
                <string>0</string>
                <string>360</string>
                <string>568</string>
            </array>
        </dict>
        <dict>
            <key>name_iPhone</key>
            <string>iPhone_5_8.jpg</string>
            <key>iFrame</key>
            <array>
                <string>-160</string>
                <string>0</string>
                <string>560</string>
                <string>568</string>
            </array>
            <key>finalFrame</key>
            <array>
                <string>-80</string>
                <string>0</string>
                <string>560</string>
                <string>568</string>
            </array>
        </dict>
        <dict>
            <key>name_iPhone</key>
            <string>iPhone_5_9.jpg</string>
            <key>iFrame</key>
            <array>
                <string>0</string>
                <string>0</string>
                <string>366</string>
                <string>568</string>
            </array>
            <key>finalFrame</key>
            <array>
                <string>-40</string>
                <string>0</string>
                <string>366</string>
                <string>568</string>
            </array>
        </dict>
    </array>
</plist>
